---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
---

<BaseLayout
  title="About"
  description="About ZH Roofing and what we do best"
  preloadImg={import("../assets/images/cabinets2.jpg")}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/landing-cr-new.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/landing-cr-new.jpg"
      />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/landing-cr-new.jpg"
        alt="drone roof"
        loading="eager"
        width="1440"
        height="455"
      />
    </picture>
  </section>

  
  <style>
    @media (max-width: 1023px) {
      #int-hero {
        margin-top: 2rem;
      }
    }
  </style>
  

  

  <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1591">
  <div class="cs-container">
      <div class="cs-image-group">
          <!--Top left image-->
          <picture class="cs-picture cs-picture1">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="/assets/images/man-roofing-cr.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="/assets/images/man-roofing-cr.jpg">
              <img loading="lazy" decoding="async" src="/assets/images/man-roofing-cr.jpg" alt="mechanic" width="413" height="500">
          </picture>
          <!--Top Right image-->
          <picture class="cs-picture cs-picture2">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="/assets/images/houses-sky-cr.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="/assets/images/houses-sky-cr.jpg">
              <img loading="lazy" decoding="async" src="/assets/images/houses-sky-cr.jpg" alt="mechanic" width="413" height="280">
          </picture>
      </div>
      <div class="cs-content">
          <span class="cs-topper">About us</span>
          <h2 class="cs-title">Building Strong Roofs, Protecting Local Homes          </h2>
          <p class="cs-text">
            At ZH Roofing, we are dedicated to providing high-quality roofing solutions that safeguard homes and businesses across our community.<br> <br>With over 10 years of experience, we know exactly what it takes to deliver roofs that are durable, reliable, and built to last. From expert craftsmanship to premium materials, we take pride in protecting what matters most to you, offering everything from repairs to installations with exceptional care and attention to detail.
          </p>
          <a href="/contact" class="cs-button-solid">Get In Touch</a>
      </div>
  </div>
</section>
                              
<style>
  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1591 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    
  }
  #sbs-1591 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1591 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1591 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1591 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1591 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 3rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1591 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  #sbs-1591 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1591 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
    font-size: min(1.959vw, .745em);
    width: 39.375em;
    /* we set a minimum height so it never gets smaller than this value */
    min-height: 39.25em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1591 .cs-picture {
    position: absolute;
  }
  #sbs-1591 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1591 .cs-picture1 {
    /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
    width: 25.8125em;
    height: 79.617834%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1591 .cs-picture2 {
    width: 25.8125em;
    height: 44.585987%;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1591 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1591 .cs-content {
    /* this padding sets a minimum gap between the top and bottom of the content div and the top and bottom of the cs-image-group */
    padding: 3.75rem 0;
    /* while the cs-image-group will stretch to fill the height of the parent, this property will ensure that the cs-content group aligns itse;f in the center of the parent div instead of stretching */
    align-self: center;
  }
  #sbs-1591 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
}
                                
</style>

<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-8">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Why Work with Us</span>
          <h2 class="cs-title">Our Numbers Speak For Themselves</h2>
          <p class="cs-text">
            
          </p>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <span class="cs-number">10+</span>
              <span class="cs-stat-text">Years Experience</span>
          </li>
          <li class="cs-item">
              <span class="cs-number">12+</span>
              <span class="cs-stat-text">Experienced Staff</span>
          </li>
          <li class="cs-item">
              <span class="cs-number">100%</span>
              <span class="cs-stat-text">Happy Clients</span>
          </li>
      </ul>
      <a href="/contact" class="cs-button-solid">Contact Us</a>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="/assets/images/top-view.jpg">
      <source media="(min-width: 601px)" srcset="/assets/images/top-view.jpg">
      <img loading="lazy" decoding="async" src="/assets/images/top-view.jpg" alt="brick wall" width="1920" height="1282" aria-hidden="true">
  </picture>
</section>
                              

<style>
  /*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-8 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #stats-8 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #stats-8 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #stats-8 .cs-title {
        color: var(--bodyTextColorWhite);
    }
    #stats-8 .cs-text {
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #stats-8 .cs-card-group {
        width: 100%;
        /* changes to 100% at in-between */
        max-width: 31.25rem;
        padding: 0 1.25rem;
        /* 40px - 68px */
        padding-top: clamp(2.5rem, 5.7vw, 4.25rem);
        /* 48px - 80px */
        padding-bottom: clamp(3rem, 6.5vw, 5rem);
        margin: 0;
        background: #fff;
        border-top: 8px solid var(--primaryLight);
        border-radius: 0.3125rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 3.4375rem;
        box-shadow: 0 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.05);
        /* prevents padding from adding to the width of the container */
        box-sizing: border-box;
    }
    #stats-8 .cs-item {
        text-align: center;
        list-style: none;
        width: 100%;
    }
    #stats-8 .cs-number {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 4.7vw, 3.8125rem);
        font-weight: 700;
        line-height: 1.2em;
        /* 4px - 8px */
        margin-bottom: clamp(0.25rem, 0.78vw, 0.5rem);
        color: var(--primary);
        display: block;
    }
    #stats-8 .cs-stat-text {
        /* 16px - 25px */
        font-size: clamp(1rem, 2vw, 1.5625rem);
        font-weight: 700;
        line-height: 1.2em;
        color: var(--headerColor);
    }
    #stats-8 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #stats-8 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #stats-8 .cs-button-solid:hover:before {
        width: 100%;
    }
    #stats-8 .cs-background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 65%;
        z-index: -1;
    }
    #stats-8 .cs-background:before {
        /* Overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #stats-8 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
/* In-between - 500px */
@media only screen and (min-width: 31.25rem) {
    #stats-8:before {
        height: 37.5%;
    }
    #stats-8 .cs-card-group {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        column-gap: 2.1875rem;
    }
    #stats-8 .cs-item {
        /* reset width */
        width: auto;
    }
}
/* Big Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
    #stats-8 .cs-background {
        background: url("/assets/images/top-view.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #stats-8 .cs-background img {
        display: none;
    }
}

                                
</style>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-2296">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">About Us</span>
          <h2 class="cs-title">Seamless Roof Transformations in North Hampton          </h2>
          <p class="cs-text">
            This roofing project highlights the transformation of a traditional roof into a modern, durable, and visually stunning structure. <br> Using premium materials and expert craftsmanship, we ensured the final result exceeded expectations.
          </p>
          <h3 class="cs-h3">Our Process</h3>
          <ul class="cs-ul">
              <li class="cs-li">
                  <strong>Initial Consultation</strong>: We assessed the client's needs and provided a tailored roofing solution.
              </li>
              <li class="cs-li">
                  <strong>Planning & Preparation</strong>: All measurements, materials, and timelines were meticulously planned to ensure a smooth process.
              </li>
              <li class="cs-li">
                  <strong>Installation</strong>: Our skilled team completed the roof installation with precision and care.
              </li>
              <li class="cs-li">
                  <strong>Final Inspection</strong>: We ensured every detail met our high standards and delivered a flawless finish.
              </li>
          </ul>
          <a href="/contact" class="cs-button-solid">Get Started</a>
      </div>
      <div class="cs-image-group">
          <!--Main Image-->
          <div class="cs-picture-wrapper1">
              <picture class="cs-picture">
                  <!--Mobile Image-->
                  <source media="(max-width: 600px)" srcset="/assets/images/wooden-metal-roof-1.jpg">
                  <!--Tablet and above Image-->
                  <source media="(min-width: 601px)" srcset="/assets/images/wooden-metal-roof-1.jpg">
                  <img loading="lazy" decoding="async" src="/assets/images/wooden-metal-roof-1.jpg" alt="wedding" width="378" height="456">
              </picture>
              <span class="cs-tag">After</span>
          </div>
          <!--Small Image-->
          <div class="cs-picture-wrapper2">
              <picture class="cs-picture">
                  <!--Mobile Image-->
                  <source media="(max-width: 600px)" srcset="/assets/images/high-roof.jpg">
                  <!--Tablet and above Image-->
                  <source media="(min-width: 601px)" srcset="/assets/images/high-roof.jpg">
                  <img loading="lazy" decoding="async" src="/assets/images/high-roof.jpg" alt="wedding" width="378" height="393">
              </picture>
              <span class="cs-tag">After</span>
          </div>
          <!--Small Image-->
          <div class="cs-picture-wrapper3">
              <picture class="cs-picture">
                  <!--Mobile Image-->
                  <source media="(max-width: 600px)" srcset="/assets/images/before.jpg">
                  <!--Tablet and above Image-->
                  <source media="(min-width: 601px)" srcset="/assets/images/before.jpg">
                  <img loading="lazy" decoding="async" src="/assets/images/before.jpg" alt="wedding" width="377" height="216">
              </picture>
              <span class="cs-tag">Before</span>
          </div>
          <img class="cs-arrow cs-arrow-left" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction-arrow-left.svg" alt="arrow" width="148" height="54">
          <img class="cs-arrow cs-arrow-right" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/construction-arrow-right.svg" alt="arrow" width="148" height="54">
      </div>
  </div>

</section>
                              

<style>
  /*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-2296 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #f7f7f7;
  }
  #sbsr-2296 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 4vw, 4rem);
  }
  #sbsr-2296 .cs-content {
    /* set text align to center if content needs to be centrally aligned */
    text-align: left;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    /* aligns content to the left, set to center to centrally align */
    align-items: flex-start;
  }
  #sbsr-2296 .cs-title {
    max-width: 30ch;
  }
  #sbsr-2296 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-2296 .cs-text:last-of-type {
    margin-bottom: 1.5rem;
  }
  #sbsr-2296 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #sbsr-2296 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbsr-2296 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-2296 .cs-h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0;
    color: var(--headerColor);
  }
  #sbsr-2296 .cs-ul {
    margin: 0.75rem 0 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #sbsr-2296 .cs-li {
    font-size: 1rem;
    line-height: 1.5em;
    list-style: none;
    /* 20px - 24px */
    padding-left: clamp(1.25rem, 3vw, 1.5rem);
    color: var(--bodyTextColor);
    position: relative;
  }
  #sbsr-2296 .cs-li strong {
    color: var(--headerColor);
  }
  #sbsr-2296 .cs-li::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.5rem;
    background-color: var(--secondary);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
  }
  #sbsr-2296 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(1.98vw, .802rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 46.125em;
    height: 38.75em;
    order: -1;
    position: relative;
    z-index: 1;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbsr-2296 .cs-picture {
    width: 100%;
    height: 100%;
    border: 1em solid #e7e7e8;
    box-sizing: border-box;
    display: block;
  }
  #sbsr-2296 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
  #sbsr-2296 .cs-picture-wrapper1 {
    width: 25.8125em;
    height: 28.5625em;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-2296 .cs-picture-wrapper2 {
    width: 25.8125em;
    height: 24.8125em;
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
    position: absolute;
    top: 3.25em;
    right: 0;
    z-index: -1;
  }
  #sbsr-2296 .cs-picture-wrapper3 {
    width: 25.75em;
    min-height: 18.375em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    bottom: 0;
    left: 9.25em;
  }
  #sbsr-2296 .cs-tag {
    /* 14px - 24px */
    font-size: clamp(0.875rem, 1.5vw, 1.5rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    color: var(--headerColor);
    display: block;
    flex: none;
  }
  #sbsr-2296 .cs-arrow {
    width: 9.25em;
    height: auto;
    position: absolute;
  }
  #sbsr-2296 .cs-arrow-left {
    bottom: 12.5625em;
    left: 4.5em;
    transform: rotate(-120deg);
  }
  #sbsr-2296 .cs-arrow-right {
    right: 7.125em;
    bottom: 11.0625em;
    transform: rotate(300deg);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-2296 .cs-container {
    max-width: 80rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-2296 .cs-container {
    flex-direction: row;
    align-items: stretch;
  }
  #sbsr-2296 .cs-image-group {
    font-size: min(1.1vw, 1rem);
    height: auto;
    min-height: 38.75em;
    order: initial;
    flex: none;
  }
  #sbsr-2296 .cs-picture-wrapper1 {
    height: auto;
    bottom: 10.1875em;
  }
  #sbsr-2296 .cs-picture-wrapper2 {
    height: auto;
    bottom: 10.625em;
  }
  #sbsr-2296 .cs-picture-wrapper3 .cs-picture {
    height: 15.5625em;
  }
}
                                
</style>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-727">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Testimonials</span>
          <h2 class="cs-title">Trusted by Homeowners & Local Businesses</h2>
          <p class="cs-text">
            At ZH Roofing, we deliver quality roofing solutions that protect what matters most, with a commitment to serving our local community.
          </p>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
              <h3 class="cs-h3"> Great Value for Money</h3>
              <p class="cs-item-text">
                The team was professional and friendly, and my roof looks great. I couldn’t be happier with the results!
              </p>
              <span class="cs-name">Danielle Phillips</span>
          </li>
          <li class="cs-item">
              <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
              <h3 class="cs-h3">Amazing Quality Work</h3>
              <p class="cs-item-text">
                They provided an affordable solution without compromising on quality. Highly recommend their services.
              </p>
              <span class="cs-name">Logan Farrell</span>
          </li>
      </ul>
  </div>
</section>
                              

<style>
  /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-727 {
        padding: var(--sectionPadding);
        
    }
    #reviews-727 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews-727 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #reviews-727 .cs-title {
        /* cs-title override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This second cs-title is a section specific override that stays inside this stitch */
        max-width: 20ch;
    }
    #reviews-727 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
    #reviews-727 .cs-item {
        list-style: none;
        width: 100%;
        margin: 0;
        /* 32px - 48px top & bottom */
        /* 16px - 32px left & right */
        padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
        /* makes padding not affect height and width */
        box-sizing: border-box;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #reviews-727 .cs-icon {
        /* 30px - 40px */
        width: clamp(1.875rem, 4vw, 2.5rem);
        height: auto;
        margin: 0 0 2rem 0;
        display: block;
    }
    #reviews-727 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 4vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 1.5rem 0;
        color: var(--headerColor);
    }
    #reviews-727 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 4vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 3rem 0;
        color: var(--bodyTextColor);
    }
    #reviews-727 .cs-name {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 500;
        margin: auto 0 0 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        position: relative;
    }
    #reviews-727 .cs-name:before {
        content: "";
        width: 0.5rem;
        height: 1px;
        background: currentColor;
        display: block;
        position: relative;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-727 .cs-container {
        max-width: 80rem;
    }
    #reviews-727 .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #reviews-727 .cs-item {
        width: 48.5%;
    }
}

                                
</style>



  <CTA />
</BaseLayout>

