---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
---

<BaseLayout
  title="About"
  description="Meta description for the page"
  preloadImg={import("../assets/images/cabinets2.jpg")}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <section id="int-hero">
    <h1 id="home-h">About Us</h1>
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/cabinets2-m.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/cabinets2.jpg"
      />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/cabinets2.jpg"
        alt="kitchen cabinets"
        loading="eager"
        width="2500"
        height="1667"
      />
    </picture>
  </section>

  

  <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1591">
  <div class="cs-container">
      <div class="cs-image-group">
          <!--Top left image-->
          <picture class="cs-picture cs-picture1">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1635424824849-1b09bdcc55b1?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg" alt="mechanic" width="413" height="500">
          </picture>
          <!--Top Right image-->
          <picture class="cs-picture cs-picture2">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="https://plus.unsplash.com/premium_photo-1679582754558-e6372c1e4b28?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
              <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg" alt="mechanic" width="413" height="280">
          </picture>
      </div>
      <div class="cs-content">
          <span class="cs-topper">About us</span>
          <h2 class="cs-title">Accessible Wardrobe That Women Can Wear and Curate Over Time</h2>
          <p class="cs-text">
              Dive into the exhilarating world of fishing with Gill Rush, a dynamic and electrifying apparel brand designed exclusively for those who live for the rush of the catch. For avid anglers who feel the pulse quicken at the mere tug on their line, Gill Rush captures the essence of that heart-pounding moment when fish and fisherman lock in a fierce dance of skill and strategy.
          </p>
          <a href="" class="cs-button-solid">View All Collections</a>
      </div>
  </div>
</section>
                              
<style>
  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1591 {
    padding: var(--sectionPadding);
  }
  #sbs-1591 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1591 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1591 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1591 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1591 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 3rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1591 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  #sbs-1591 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1591 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
    font-size: min(1.959vw, .745em);
    width: 39.375em;
    /* we set a minimum height so it never gets smaller than this value */
    min-height: 39.25em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1591 .cs-picture {
    position: absolute;
  }
  #sbs-1591 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1591 .cs-picture1 {
    /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
    width: 25.8125em;
    height: 79.617834%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1591 .cs-picture2 {
    width: 25.8125em;
    height: 44.585987%;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1591 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1591 .cs-content {
    /* this padding sets a minimum gap between the top and bottom of the content div and the top and bottom of the cs-image-group */
    padding: 3.75rem 0;
    /* while the cs-image-group will stretch to fill the height of the parent, this property will ensure that the cs-content group aligns itse;f in the center of the parent div instead of stretching */
    align-self: center;
  }
  #sbs-1591 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
}
                                
</style>



  <CTA />
</BaseLayout>

