---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
---

<BaseLayout
  title="ZH Roofing Services"
  description="Meta description for the page"
  preloadImg={import("../assets/images/landing.jpg")}
>


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1950">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Reliable Roofs, <br>Solid Structures</h1>
            <div class="cs-flex-group">
                <p class="cs-text">We take pride in building strong roofs that keep homes and businesses safe and secure.</p>
                <a href="/contact" class="cs-button-solid">Get In Touch</a>
            </div>
        </div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1643225523483-e2c434191bba?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1643225523483-e2c434191bba?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img decoding="async" src="https://images.unsplash.com/photo-1643225523483-e2c434191bba?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="restaurant" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                

<style>
    /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1950 {
    min-height: 100dvh;
    /* 200px - 300px top */
    /* 60px - 100px bottom */
    padding: clamp(12.5rem, 12vw, 18.75rem) 1rem clamp(3.75rem, 8vw, 6.25rem) 1rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 1;
  }
  #hero-1950 .cs-container {
    width: 100%;
    max-width: 85.5625rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* 60px - 180px */
    gap: clamp(3.75rem, 13vw, 11.25rem);
  }
  #hero-1950 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #hero-1950 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    margin-bottom: 1.75rem;
    color: #fff;
  }
  #hero-1950 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin-bottom: 1.25rem;
    color: #fff;
    opacity: 0.8;
  }
  #hero-1950 .cs-flex-group {
    max-width: 30rem;
  }
  #hero-1950 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    margin: 0;
    /* 32px - 48px */
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--primary);
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-1950 .cs-button-solid:before {
    content: '';
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1950 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1950 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1950 .cs-background:before {
    /* Overlay */
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.86) 10.79%, rgba(26, 26, 26, 0) 48.32%, rgba(26, 26, 26, 0.86) 82.84%);
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-1950 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1950 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
  }
  #hero-1950 .cs-title {
    width: 55%;
    max-width: 39.375rem;
    margin-bottom: 0;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #hero-1950 .cs-flex-group {
    max-width: 30rem;
  }
}
/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
  #hero-1950 .cs-background {
    background: url("https://images.unsplash.com/photo-1643225523483-e2c434191bba?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* creates the parallax effect */
    background-attachment: fixed;
  }
  #hero-1950 .cs-background img {
    display: none;
  }
}
                                
</style>



<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1081">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Roofing & Home Services</h2>
            <p class="cs-text">
                <strong>
                    Explore just some of our services, including roof installation, repairs, gutter cleaning, 
                    <br>and a range of other services to ensure your home is protected and well cared for.
                  </strong>
                  
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1606383445901-63307b33242f?q=80&w=2791&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1606383445901-63307b33242f?q=80&w=2791&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1606383445901-63307b33242f?q=80&w=2791&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=PaD5fGELYbhv&format=png&color=c56c5a" alt="icon" width="32" height="32" aria-hidden="true">
                    Roof Installation
                </h3>
                <p class="cs-item-text">
                    Roof installation provides a strong foundation for your home. We ensure quality materials and expert craftsmanship for long-lasting protection and peace of mind.
                </p>
                <a href="/services/roof-installation" class="cs-link">
                    Learn More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1635424824800-692767998d07?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1635424824800-692767998d07?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1635424824800-692767998d07?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=4856&format=png&color=c56c5a" alt="icon" width="32" height="32" aria-hidden="true">
                    Roof Repairs
                </h3>
                <p class="cs-item-text">
                    Roof repairs are essential to fix damage and extend the life of your roof. Our team quickly identifies issues and provides dependable solutions to keep your property safe.
                </p>
                <a href="/services/roof-repairs" class="cs-link">
                    Learn More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1729253738126-1dfcd1c5cbd0?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1729253738126-1dfcd1c5cbd0?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dg">
                    <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1729253738126-1dfcd1c5cbd0?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=npkw8tm3KuWT&format=png&color=c56c5a" alt="icon" width="32" height="32" aria-hidden="true">
                    Gutter Cleaning
                </h3>
                <p class="cs-item-text">
                    Regular gutter cleaning prevents clogs and water damage. Our service ensures your gutters are clear and functioning properly to protect your home from potential issues.
                </p>
                <a href="/services/gutter-cleaning" class="cs-link">
                    Learn More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>
            </li>
        </ul>
    </div>
</section>
                                

<style>
    /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1081 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
    }
    #services-1081 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services-1081 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #services-1081 .cs-title {
        max-width: 20ch;
    }
    #services-1081 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: stretch;
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #services-1081 .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-column: span 12;
        position: relative;
        z-index: 1;
    }
    #services-1081 .cs-item:hover .cs-picture:before {
        opacity: 0.8;
    }
    #services-1081 .cs-item:hover .cs-picture img {
        transform: scale(1.2);
    }
    #services-1081 .cs-item:hover .cs-h3 {
        background-color: var(--primary);
    }
    #services-1081 .cs-picture {
        width: 100%;
        /* 180px - 240px */
        height: clamp(11.25rem, 24vw, 15rem);
        /* clips the image from overflowing parent on hover */
        overflow: hidden;
        display: block;
        position: relative;
    }
    #services-1081 .cs-picture:before {
        /* black hover overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        transition: opacity 0.3s;
    }
    #services-1081 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.65s;
    }
    #services-1081 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        line-height: 1.5em;
        font-weight: 700;
        text-align: inherit;
        width: 100%;
        margin: 0;
        /* 12px - 16px top & Bottom */
        /* 16px - 24px left & right */
        padding: clamp(0.75rem, 1.6vw, 1rem) clamp(1rem, 2.5vw, 1.5rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: #1a1a1a;
        color: var(--bodyTextColorWhite);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* 8px - 16px */
        gap: clamp(0.5rem, 1vw, 1rem);
        transition: background-color 0.3s;
    }
    #services-1081 .cs-item-text {
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        margin: 0 0 1.25rem;
        /* 16px - 24px */
        padding: clamp(1rem, 2.5vw, 1.25rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding-bottom: 0;
        color: var(--bodyTextColor);
    }
    #services-1081 .cs-link {
        font-size: 1rem;
        line-height: 1.2em;
        text-align: inherit;
        text-decoration: none;
        font-weight: 700;
        /* 16px - 24px */
        margin: 0 0 clamp(1rem, 2.5vw, 1.5rem) clamp(1rem, 2.5vw, 1.5rem);
        color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #services-1081 .cs-link:hover .cs-arrow {
        transform: translateX(0.25rem);
    }
    #services-1081 .cs-arrow {
        width: 1.25rem;
        height: auto;
        display: block;
        transition: transform 0.3s;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1081 .cs-container {
        max-width: 80rem;
    }
    #services-1081 .cs-item {
        grid-column: span 4;
    }
}

                                
</style>

<!-- ============================================ -->
<!--                  Side By Side                -->
<!-- ============================================ -->

<section id="sbs-1586">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://plus.unsplash.com/premium_photo-1661313639796-8c38ae96756f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://plus.unsplash.com/premium_photo-1661313639796-8c38ae96756f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img loading="lazy" decoding="async" src="https://plus.unsplash.com/premium_photo-1661313639796-8c38ae96756f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="models" width="586" height="690">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Committed to Excellence in Every Project</h2>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="wrapper">
                        
                        <h3 class="cs-h3">
                              Quality You Can Trust
                        </h3>
                    </div>
                    <p class="cs-item-text">
                      We use top-grade materials and proven methods to ensure every project is built to last.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        
                        <h3 class="cs-h3">
                          Affordable Solutions
                        </h3>
                    </div>
                    <p class="cs-item-text">
                      Offering cost-effective services without compromising on quality or safety. 
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        
                        <h3 class="cs-h3">
                          Timely Project Delivery
                        </h3>
                    </div>
                    <p class="cs-item-text">
                      We stick to schedules, ensuring your home or business is ready on time, every time.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        
                        <h3 class="cs-h3">
                          Customer-First Approach
                        </h3>
                    </div>
                    <p class="cs-item-text">
                      Your satisfaction is our priority, with services tailored to meet your specific needs.
                    </p>
                </li>
            </ul>
            <a href="/about" class="cs-button-solid">Learn More</a>
        </div>
    </div>
  </section>
                                
  
  <style>
    /*-- -------------------------- -->
  <---        Side By Side        -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-1586 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
    }
    #sbs-1586 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(2.5rem, 6vw, 4rem);
    }
    #sbs-1586 .cs-picture {
      width: 100%;
      height: clamp(25rem, 80vw, 47rem);
      display: block;
      position: relative;
      order: 2;
    }
    #sbs-1586 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: saturate(0.7 ); /* Reduce saturation to 70% */
  
    }
    #sbs-1586 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 39.375rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      justify-content: center;
    }
    #sbs-1586 .cs-title {
      /* 26 characters wide including spaces */
      max-width: 26ch;
      margin: 0;
    }
    #sbs-1586 .cs-card-group {
      width: 100%;
      /* 550px - 630px */
      max-width: clamp(34.375rem, 50vw, 39.375rem);
      padding: 0;
      /* 24px - 40px */
      margin: clamp(1.5rem, 4vw, 2.5rem) 0 clamp(1.75rem, 4vw, 2.5rem) 0;
      display: grid;
      align-items: center;
      gap: clamp(1rem, 4vw, 2.5rem);
    }
    #sbs-1586 .cs-item {
      list-style: none;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }
    #sbs-1586 .wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 0.625rem;
    }
    #sbs-1586 .cs-item-number {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--primary);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }
    #sbs-1586 .cs-h3 {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }
    #sbs-1586 .cs-item-text {
      font-size: 0.875rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #sbs-1586 .cs-ul {
      width: 100%;
      margin: 0 0 1.5rem 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }
    #sbs-1586 .cs-li {
      font-size: var(--bodyFontSize);
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      /* push icon top the top so if the list item goes to two lines the icon stays at the top */
      align-items: flex-start;
      gap: 0.5rem;
    }
    #sbs-1586 .cs-button-solid {
      font-size: 1rem;
      line-height: 3.5em;
      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      width: auto;
      margin: 0;
      color: #fff;
      padding: 0 3rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;
    }
    #sbs-1586 .cs-button-solid:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #1a1a1a;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #sbs-1586 .cs-button-solid:hover {
      color: var(--primary);
    }
    #sbs-1586 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #sbs-1586 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    #sbs-1586 .cs-content {
      width: 50%;
      max-width: 39.375rem;
      /* prevents flexbox from squishing it */
      flex: none;
    }
    #sbs-1586 .cs-card-group {
      grid-template-columns: repeat(12, 1fr);
    }
    #sbs-1586 .cs-item {
      grid-column: span 6;
    }
    #sbs-1586 .cs-picture {
      height: auto;
      min-height: 32.8125rem;
      order: -1;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbs-1586 .cs-content {
      padding: 5.25rem 0;
      align-self: center;
    }
  }
                                  
  </style>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="stats-340">
  <ul class="cs-card-group">
      <li class="cs-item">
          <picture class="cs-picture">
              <img class="cs-icon" src="https://img.icons8.com/?size=100&id=103891&format=png&color=c56c5a" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
          </picture>
          <div class="cs-flex-group">
              <span class="cs-number">100%</span>
              <span class="cs-desc">Experienced Team</span>
          </div>
      </li>
      <li class="cs-item">
          <picture class="cs-picture">
              <img class="cs-icon" src="https://img.icons8.com/?size=100&id=1208&format=png&color=c56c5a" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
          </picture>
          <div class="cs-flex-group">
              <span class="cs-number">3140</span>
              <span class="cs-desc">Projects Completed</span>
          </div>
      </li>
      <li class="cs-item">
          <picture class="cs-picture">
              <img class="cs-icon" src="https://img.icons8.com/?size=100&id=47847&format=png&color=c56c5a" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
          </picture>
          <div class="cs-flex-group">
              <span class="cs-number">3140</span>
              <span class="cs-desc">Satisfied Clients</span>
          </div>
      </li>
      <li class="cs-item">
          <picture class="cs-picture">
              <img class="cs-icon" src="https://img.icons8.com/?size=100&id=yHmk9ruAuVj3&format=png&color=c56c5a" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
          </picture>
          <div class="cs-flex-group">
              <span class="cs-number">2365</span>
              <span class="cs-desc">Industry Recognition</span>
          </div>
      </li>
  </ul>
  <!--Background Image-->
  <picture class="cs-background">
      <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1657262585548-b12220e644f0?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1657262585548-b12220e644f0?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <img aria-hidden="true" loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1657262585548-b12220e644f0?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="cleaning products" width="1920" height="283">
  </picture>
</div>
                              

<style>
  /*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-340 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #stats-340 .cs-background {
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;
    }
    #stats-340 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.16;
        object-fit: cover;
    }
    #stats-340 .cs-card-group {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 37.5rem;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
    }
    #stats-340 .cs-item {
        list-style: none;
        min-width: auto;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #stats-340 .cs-picture {
        /* 60px - 80px */
        width: clamp(3.75rem, 7.9vw, 5rem);
        height: clamp(3.75rem, 7.9vw, 5rem);
        margin-right: 1rem;
        border-radius: 50%;
        border: 1px solid #bababa;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents border from adding to height and width */
        box-sizing: border-box;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #stats-340 .cs-icon {
        /* 28px - 40px */
        width: clamp(1.75rem, 3.9vw, 2.5rem);
        height: auto;
    }
    #stats-340 .cs-flex-group {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    #stats-340 .cs-number {
        font-size: var(--headerFontSize);
        color: var(--bodyTextColorWhite);
        font-weight: 900;
        line-height: 1.2em;
        margin: 0;
        display: block;
    }
    #stats-340 .cs-desc {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.4vw, 1rem);
        line-height: 1.5em;
        color: var(--bodyTextColorWhite);
        display: block;
    }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-340 .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 3.125rem;
        row-gap: 3.75rem;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-340 .cs-card-group {
        max-width: 80rem;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
}

                                
</style>
                              

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-1371">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Why Choose Us</span>
          <h2 class="cs-title">Dedicated to Quality Service and Craftsmanship</h2>
          <p class="cs-text">
              
          </p>
          <p class="cs-text">
              <strong>Our services reflect quality, reliability, and care in every detail.</strong>
          </p>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <h3 class="cs-h3">
                  <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=48666&format=png&color=c56c5a" alt="icon" width="24" height="24">
                  Locally Owned and Operated
              </h3>
              <p class="cs-item-text">
                We are a trusted, community-focused roofing company committed to delivering reliable services with a personal touch.
              </p>
          </li>
          <li class="cs-item">
              <h3 class="cs-h3">
                  <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=vpfD5GtSHKdL&format=png&color=c56c5a" alt="icon" width="24" height="24">
                  Premium Materials Guaranteed
              </h3>
              <p class="cs-item-text">
                We use only high-quality, durable materials to ensure your roof stands strong against time and weather.
              </p>
          </li>
          <li class="cs-item">
              <h3 class="cs-h3">
                  <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=24551&format=png&color=c56c5a" alt="icon" width="24" height="24">
                  Experienced Professionals
              </h3>
              <p class="cs-item-text">
                Our skilled team of roofing experts brings years of industry experience to every project for guaranteed excellence.
              </p>
          </li>
          <li class="cs-item-picture">
              <picture class="cs-picture">
                  <!--Mobile Image-->
                  <source media="(max-width: 600px)" srcset="/assets/images/medium-shot.jpg">
                  <!--Tablet and above Image-->
                  <source media="(min-width: 601px)" srcset="/assets/images/medium-shot.jpg">
                  <img loading="lazy" decoding="async" src="/assets/images/medium-shot.jpg" alt="people" width="590" height="418">
              </picture>
          </li>
          <li class="cs-item">
              <h3 class="cs-h3">
                  <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=aQo-e1wKO3Sv&format=png&color=c56c5a" alt="icon" width="24" height="24">
                  No Hidden Costs
              </h3>
              <p class="cs-item-text">
                Enjoy transparency with our upfront pricing, no surprises, just straightforward service.
              </p>
          </li>
          <li class="cs-item">
              <h3 class="cs-h3">
                  <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=1xZWLn7w7ECV&format=png&color=c56c5a" alt="icon" width="24" height="24">
                  Eco-Friendly Practices
              </h3>
              <p class="cs-item-text">
                We incorporate sustainable practices and materials to minimize environmental impact while meeting your roofing needs.
              </p>
          </li>
          <li class="cs-item">
              <h3 class="cs-h3">
                  <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=87822&format=png&color=c56c5a" alt="icon" width="24" height="24">
                  Flexible Scheduling Options
              </h3>
              <p class="cs-item-text">
                Our adaptable scheduling ensures your roofing project fits conveniently into your busy life.
              </p>
          </li>
      </ul>
      <a href="/contact" class="cs-button-solid">Get In Touch</a>
  </div>
  
</section>
                              

<style>
  /*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }
    #why-choose-1371 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    #why-choose-1371 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #why-choose-1371 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #why-choose-1371 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #why-choose-1371 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #why-choose-1371 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #why-choose-1371 .cs-title {
        max-width: 23ch;
    }
    #why-choose-1371 .cs-text {
        max-width: 52.5rem;
        margin-bottom: 1rem;
    }
    #why-choose-1371 .cs-text:last-of-type {
        margin-bottom: 0rem;
    }
    #why-choose-1371 .cs-text strong {
        color: var(--headerColor);
    }
    #why-choose-1371 .cs-item-picture {
        list-style: none;
        width: 100%;
        grid-column: span 12;
        position: relative;
    }
    #why-choose-1371 .cs-picture {
        width: 100%;
        height: 26.125rem;
        border-radius: 1.5rem;
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 1;
    }
    #why-choose-1371 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #why-choose-1371 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: stretch6;
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #why-choose-1371 .cs-item {
        list-style: none;
        /* 16px - 24px */
        padding: clamp(1rem, 3vw, 1.5rem);
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        background-color: #f7f7f7;
        border-radius: 1rem;
        border: 1px solid #e8e8e8;
        display: flex;
        grid-column: span 12;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
        transition: background-color 0.3s;
    }
    #why-choose-1371 .cs-item:hover {
        background-color: var(--primary);
    }
    #why-choose-1371 .cs-item:hover .cs-h3,
    #why-choose-1371 .cs-item:hover .cs-item-text {
        color: var(--bodyTextColorWhite);
    }
    #why-choose-1371 .cs-item:hover .cs-item-text {
        opacity: 0.8;
    }
    #why-choose-1371 .cs-item:hover .cs-h3-icon {
        filter: grayscale(1) brightness(1000%);
    }
    #why-choose-1371 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
        transition: color 0.3s;
    }
    #why-choose-1371 .cs-h3-icon {
        width: 1.5rem;
        height: auto;
        margin-top: 2px;
        display: block;
    }
    #why-choose-1371 .cs-item-text {
        font-size: 0.875rem;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        transition:
            color 0.3s,
            opacity 0.3s;
    }
    #why-choose-1371 .cs-button-solid {
        font-size: 1rem;
        line-height: 3.5rem;
        text-decoration: none;
        font-weight: 700;
        overflow: hidden;
        margin: 0;
        color: #fff;
        padding: 0 3rem;
        border-radius: 1.875rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;
    }
    #why-choose-1371 .cs-button-solid:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: #1a1a1a;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #why-choose-1371 .cs-button-solid:hover {
        color: var(--primary);
    }
    #why-choose-1371 .cs-button-solid:hover:before {
        width: 100%;
    }
    #why-choose-1371 .cs-bubbles1 {
        width: 26.1875rem;
        height: 26.6875rem;
        position: absolute;
        left: -16.25rem;
        top: -15rem;
        z-index: -1;
    }
    #why-choose-1371 .cs-bubbles1:before {
        /* white border bubble */
        content: "";
        width: 20.625rem;
        height: 20.625rem;
        background: transparent;
        border: 1px solid #1a1a1a;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        animation-name: floatAnimation;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #why-choose-1371 .cs-bubbles1:after {
        /* orange bubble */
        content: "";
        width: 16.25rem;
        height: 16.25rem;
        background: var(--primary);
        opacity: 0.1;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 14s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #why-choose-1371 .cs-bubbles2 {
        width: 26.1875rem;
        height: 26.6875rem;
        display: block;
        position: absolute;
        /* changes to 160px at larger desktop */
        right: -11.25rem;
        bottom: -8.75rem;
        z-index: -1;
    }
    #why-choose-1371 .cs-bubbles2:before {
        /* white border bubble */
        content: "";
        width: 20.625rem;
        height: 20.625rem;
        background: transparent;
        border: 1px solid #1a1a1a;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        animation-name: floatAnimation;
        animation-duration: 7s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    #why-choose-1371 .cs-bubbles2:after {
        /* orange bubble */
        content: "";
        width: 16.25rem;
        height: 16.25rem;
        background: var(--primary);
        opacity: 0.1;
        border-radius: 50%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        animation-name: floatAnimation2;
        animation-duration: 9s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1371 .cs-item {
        grid-column: span 4;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-1371 .cs-item-picture {
        grid-column: 4 / span 6;
        grid-row: 1 / span 3;
    }
    #why-choose-1371 .cs-picture {
        height: 100%;
    }
    #why-choose-1371 .cs-item {
        grid-column: span 2;
    }
    #why-choose-1371 .cs-item:nth-of-type(1) {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
    }
    #why-choose-1371 .cs-item:nth-of-type(2) {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
    }
    #why-choose-1371 .cs-item:nth-of-type(3) {
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;
    }
    #why-choose-1371 .cs-item:nth-of-type(5) {
        grid-column: 10 / span 3;
        grid-row: 1 / span 1;
    }
    #why-choose-1371 .cs-item:nth-of-type(6) {
        grid-column: 10 / span 3;
        grid-row: 2 / span 1;
    }
    #why-choose-1371 .cs-item:nth-of-type(7) {
        grid-column: 10 / span 3;
        grid-row: 3 / span 1;
    }
    #why-choose-1371 .cs-bubbles1 {
        left: -8.125rem;
        top: -9.375rem;
    }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #why-choose-1371 .cs-bubbles1 {
        margin-right: 40.625rem;
        left: auto;
        right: 50%;
    }
    #why-choose-1371 .cs-bubbles2 {
        margin-left: 37.5rem;
        left: 50%;
        right: auto;
    }
}

                                
</style>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-44">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Our Recent Projects</h2>
            <p class="cs-text">
                <strong>Take a look at photos of our roofing and construction projects, <br>including progress and completed work for homes and businesses.</strong>
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Image 1 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/british-building-1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/british-building-1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/british-building-1.jpg" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 2 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1608283833118-b7f58d38a2e9?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1608283833118-b7f58d38a2e9?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1608283833118-b7f58d38a2e9?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="modern house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 3 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/british-building-2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/british-building-2.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/british-building-2.jpg" alt="modern home at night" width="346" height="346">
                </picture>
            </li>
            <!-- Image 4 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1601303981881-f630d27a7df5?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1601303981881-f630d27a7df5?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1601303981881-f630d27a7df5?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="modern home" width="346" height="346">
                </picture>
            </li>
            <!-- Image 5 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/british-building-3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/british-building-3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/british-building-3.jpg" alt="appliance" width="346" height="346">
                </picture>
            </li>
            <!-- Image 6 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1593786267484-d138cb026c50?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1593786267484-d138cb026c50?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1593786267484-d138cb026c50?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="modern home" width="346" height="346">
                </picture>
            </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Get In Touch</a>
    </div>
</section>
                                

<style>
    /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-44 {
        padding: var(--sectionPadding);
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
        background-color: #f7f7f7;
    }
    #gallery-44 .cs-container {
        width: 100%;
        max-width: 69rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-44 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #gallery-44 .cs-image-group {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
    }
    #gallery-44 .cs-item {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        margin: 0;
        position: relative;
        display: block;
    }
    #gallery-44 .cs-item:hover .cs-hover-box {
        opacity: 1;
    }
    #gallery-44 .cs-item:hover .cs-icon {
        /* return to original position */
        transform: rotateY(0);
    }
    #gallery-44 .cs-item:hover .cs-h3 {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-44 .cs-item:hover .cs-hover-box-text {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-44 .cs-picture {
        margin: auto;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    #gallery-44 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #gallery-44 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #gallery-44 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #gallery-44 .cs-button-solid:hover:before {
        width: 100%;
    }
}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
    #gallery-44 .cs-image-group {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    }
    #gallery-44 .cs-item {
        grid-column: span 6;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-44 .cs-item {
        grid-column: span 4;
    }
}

                                
</style>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1455">
  <div class="cs-container">
      <div class="cs-content">
          <!--Yellow Quote-->
          <img class="cs-quote" aria-hidden="true" src="https://img.icons8.com/?size=100&id=37948&format=png&color=c56c5a" decoding="async" alt="quote icon" width="40" height="33" loading="lazy">
          <span class="cs-topper">Testimonials</span>
          <h2 class="cs-title">Trusted by Homeowners & Local Businesses</h2>
          <p class="cs-text">
              <strong>At ZH Roofing, we deliver quality roofing solutions that protect what matters most, with a commitment to serving our local community.</strong>
          </p>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <p class="cs-review">
                Im impressed by the quality of their work and attention to detail. They explained every step clearly and delivered exactly what they promised.
              </p>
              <div class="cs-flex-group">
                  <picture class="cs-picture">
                      <img class="cs-profile" src="/assets/images/download-2.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                  </picture>
                  <span class="cs-name">
                    Dominic Marsh
                    <span class="cs-job">Home Owner</span>
                  </span>
              </div>
          </li>
          <li class="cs-item">
              <p class="cs-review">
                The new roof on my home looks fantastic! <br>ZH Roofing worked around my schedule and made sure everything was perfect before they left.
              </p>
              <div class="cs-flex-group">
                  <picture class="cs-picture">
                      <img class="cs-profile" src="/assets/images/download-10.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                  </picture>
                  <span class="cs-name">
                    Jasmine Hassan
                      <span class="cs-job">Home Owner</span>
                  </span>
              </div>
          </li>
          <li class="cs-item">
              <p class="cs-review">
                ZH Roofing made the process of repairing my roof completely stress-free. Their team was professional, quick, and delivered excellent results.
              </p>
              <div class="cs-flex-group">
                  <picture class="cs-picture">
                      <img class="cs-profile" src="/assets/images/download-1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                  </picture>
                  <span class="cs-name">
                    Robert Li
                      <span class="cs-job">Home Owner</span>
                  </span>
              </div>
          </li>
      </ul>
  </div>
</section>
                              

<style>
    /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1455 {
    padding: var(--sectionPadding);
  }
  #reviews-1455 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-1455 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-1455 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #reviews-1455 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 39.375rem;
    /* 20px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  #reviews-1455 .cs-quote {
    /* 48px - 72px */
    width: clamp(3rem, 6vw, 4.5rem);
    height: auto;
    margin-bottom: 2rem;
  }
  #reviews-1455 .cs-review {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    /* 20px - 40px */
    margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
    color: var(--bodyTextColor);
  }
  #reviews-1455 .cs-flex-group {
    /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  #reviews-1455 .cs-profile {
    width: 3.125rem;
    height: auto;
    border-radius: 50%;
    /* clips image corners to make circle */
    overflow: hidden;
    position: relative;
    display: block;
  }
  #reviews-1455 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }
  #reviews-1455 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }
  #reviews-1455 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1455 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
                                
</style>





  
</BaseLayout>

