---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
---

<BaseLayout
  title="ZH Roofing Services"
  description="Roofing services in North Hampton"
  preloadImg={import("../assets/images/landing.jpg")}
>




<!-- ============================================ -->
<!--                  Side By Side                -->
<!-- ============================================ -->

<section id="sbs-1586">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/house-cr.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/house-cr.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/house-cr.jpg" alt="models" width="586" height="635">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Committed to Excellence in Every Project</h2>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="wrapper">
                        
                        <h3 class="cs-h3">
                              Quality You Can Trust
                        </h3>
                    </div>
                    <p class="cs-item-text">
                      We use top-grade materials and proven methods to ensure every project is built to last.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        
                        <h3 class="cs-h3">
                          Affordable Solutions
                        </h3>
                    </div>
                    <p class="cs-item-text">
                      Offering cost-effective services without compromising on quality or safety. 
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        
                        <h3 class="cs-h3">
                          Timely Project Delivery
                        </h3>
                    </div>
                    <p class="cs-item-text">
                      We stick to schedules, ensuring your home or business is ready on time, every time.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        
                        <h3 class="cs-h3">
                          Customer-First Approach
                        </h3>
                    </div>
                    <p class="cs-item-text">
                      Your satisfaction is our priority, with services tailored to meet your specific needs.
                    </p>
                </li>
            </ul>
            <a href="/about" class="cs-button-solid">Learn More</a>
        </div>
    </div>
  </section>
                                
  
  <style>
    /*-- -------------------------- -->
  <---        Side By Side        -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-1586 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
   
    }
    #sbs-1586 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(2.5rem, 6vw, 4rem);
    }
    #sbs-1586 .cs-picture {
      width: 100%;
      height: clamp(25rem, 80vw, 47rem);
      display: block;
      position: relative;
      order: 2;
    }
    #sbs-1586 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: saturate(0.7 ); /* Reduce saturation to 70% */
  
    }
    #sbs-1586 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 39.375rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      justify-content: center;
    }
    #sbs-1586 .cs-title {
      /* 26 characters wide including spaces */
      max-width: 26ch;
      margin: 0;
    }
    #sbs-1586 .cs-card-group {
      width: 100%;
      /* 550px - 630px */
      max-width: clamp(34.375rem, 50vw, 39.375rem);
      padding: 0;
      /* 24px - 40px */
      margin: clamp(1.5rem, 4vw, 2.5rem) 0 clamp(1.75rem, 4vw, 2.5rem) 0;
      display: grid;
      align-items: center;
      gap: clamp(1rem, 4vw, 2.5rem);
    }
    #sbs-1586 .cs-item {
      list-style: none;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }
    #sbs-1586 .wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 0.625rem;
    }
    #sbs-1586 .cs-item-number {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--primary);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }
    #sbs-1586 .cs-h3 {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }
    #sbs-1586 .cs-item-text {
      font-size: 0.875rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #sbs-1586 .cs-ul {
      width: 100%;
      margin: 0 0 1.5rem 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
    }
    #sbs-1586 .cs-li {
      font-size: var(--bodyFontSize);
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      /* push icon top the top so if the list item goes to two lines the icon stays at the top */
      align-items: flex-start;
      gap: 0.5rem;
    }
    #sbs-1586 .cs-button-solid {
      font-size: 1rem;
      line-height: 3.5em;
      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      width: auto;
      margin: 0;
      color: #fff;
      padding: 0 3rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;
    }
    #sbs-1586 .cs-button-solid:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #1a1a1a;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #sbs-1586 .cs-button-solid:hover {
      color: var(--primary);
    }
    #sbs-1586 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #sbs-1586 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    #sbs-1586 .cs-content {
      width: 50%;
      max-width: 39.375rem;
      /* prevents flexbox from squishing it */
      flex: none;
    }
    #sbs-1586 .cs-card-group {
      grid-template-columns: repeat(12, 1fr);
    }
    #sbs-1586 .cs-item {
      grid-column: span 6;
    }
    #sbs-1586 .cs-picture {
      height: auto;
      min-height: 32.8125rem;
      order: -1;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbs-1586 .cs-content {
      padding: 5.25rem 0;
      align-self: center;
    }
  }
                                  
  </style>







  
</BaseLayout>

